p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.book .book-body .page-wrapper .page-inner {
  max-width: 90%;
}
h1, h2, h3, h4, h5 {
  text-align: center;
}